!!!
%html
  %head
    %title API Remix
    %link{:rel => 'stylesheet', :src => 'css/bootstrap.css'}
    %link{:rel => 'stylesheet', :src => 'css/bootstrap-responsive.css'}
  %body
    #fluid-container
      Boo
      .hero-unit
        %h1 Heading
        %p Tagline
        %p
          %a{:class => 'btn btn-primary btn-large'}
            Learn more